.errorBox {
  width: auto;
  padding: 0.5rem;
  border: 1px solid red;
  border-left: 0.5rem solid red;
  background: #ff000088;
  color: white;
  border-radius: .5rem;
  display: flex;
}

.errorBox span {
  white-space: break-spaces;
}
