.container {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  transition: margin-top 0.5s ease 0.5s, margin-bottom 0.5s ease 0.5s;
}

.container.visible {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transition: margin-top 0.5s ease 0s, margin-bottom 0.5s ease 0s;
}

.errorBox {
  width: auto;
  padding: 0.5rem;
  border: 1px solid red;
  border-left: 0.5rem solid red;
  background: #ff000088;
  color: white;
  border-radius: .5rem;
  display: flex;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  overflow: hidden;
}

.visible .errorBox {
  transform: translateY(0%);
  transition: transform 0.5s ease 0.25s;
}

.errorBox span {
  white-space: break-spaces;
}
