#homePage {
  --homePage-background: var(--gray-900);
  --homePage-color: var(--white);

  background: var(--homePage-background);
  color: var(--homePage-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

#leftSide {
  display: grid;
  grid-template-columns: 4rem 12rem;
  grid-template-rows: 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

#ServerListWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  height: 100%;
  width: calc(100% - 0.5rem);
  margin-left: 0.5rem;
  padding-block: 0.5rem;
}

.serverListItem {
  --has-notification: 0;
  --is-active: 0;
  --icon-radius: calc(50% - (var(--is-active) * 25%));
  position: relative;
  padding-inline: 0.25rem;
}

.serverListItem::before {
  content: '';
  display: block;
  height: max(calc(var(--has-notification) * 0.5rem), calc(var(--is-active) * 1.5rem));
  position: absolute;
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.25rem;
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  background: var(--white);
  transition: height 0.25s ease;
}

.serverListItem:hover {
  --has-notification: 2 !important;
}

.selectedServer {
  --is-active: 1 !important;
}
