#homePage {
  --homePage-background: var(--gray-900);
  --homePage-color: var(--white);

  background: var(--homePage-background);
  color: var(--homePage-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 12rem 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

#channelListWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
}
