.UserInput {
  position: relative;
  display: flex;
  width: 100%;
  font-size: 1rem;
  height: fit-content;
}

.inputTitle {
  position: absolute;
  top: 50%;
  left: calc(var(--inputBox-padding) / 2);
  transform: translateY(-50%);
  pointer-events: none;
  transition: top 0.3s ease, font-size 0.3s ease;
  background: var(--inputBox-background);
  padding: 0 calc(var(--inputBox-padding) / 2);
}

.inputBox {
  padding: var(--inputBox-padding);
  width: 100%;
  margin: 0;
  background: var(--inputBox-background);
  border-radius: calc(var(--border-radius) * 0.5rem);
  border: var(--inputBox-border-thickness) solid var(--inputBox-border);
  transition: background 0.3s ease;
}

.rightAlign .inputBox {
  margin-left: auto;
}

.leftAlign .inputBox {
  margin-right: auto;
}

.centerAlign .inputBox {
  margin-inline: auto;
}

.UserInput:has(.inputBox:focus) .inputTitle, .UserInput:has(.inputBox:not(:placeholder-shown)) .inputTitle {
  top: 0;
  font-size: 0.75rem;
}

.inputBox[type="button"], .inputBox[type="submit"], .inputBox[type="cancel"] {
  background: var(--input-button-background);
  color: var(--input-button-color);
  border: none;
  cursor: pointer;
  width: auto;
  font-size: 1rem;
}

.inputBox[type="button"]:hover, .inputBox[type="submit"]:hover, .inputBox[type="cancel"]:hover {
  background: var(--input-button-hover);
}

.inputBox[type="button"]:active, .inputBox[type="submit"]:active, .inputBox[type="cancel"]:active {
  background: var(--input-button-active);
}

.inputBox[type="button"]:disabled, .inputBox[type="submit"]:disabled, .inputBox[type="cancel"]:disabled {
  background: var(--input-button-disabled);
  color: var(--input-button-disabled-color);
  cursor: not-allowed;
}

.loading .inputBox {
  pointer-events: none;
}

.loading .inputTitle {
  display: none;
}

.loadingBox {
  position: absolute;
  min-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--input-loading-background);
  transition-behavior: allow-discrete;
  display: none;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0 var(--inputBox-padding);
  border-radius: calc(var(--border-radius) * 0.5rem);
  border: var(--inputBox-border-thickness) solid var(--inputBox-border);
  gap: 0.5rem;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease, width 0.3s ease, display 0.3s ease 0.3s;
  overflow: hidden;
}

.loadingBox:has(+ .inputBox[type="button"]), .loadingBox:has(+ .inputBox[type="submit"]), .loadingBox:has(+ .inputBox[type="cancel"]) {
  left: unset;
  right: 0;
  width: auto;
  min-width: auto;
}

.loadingSpinner {
  width: auto;
  aspect-ratio: 1;
  height: calc(100% - var(--inputBox-padding));
  border: 0.2rem solid var(--input-loading-spinner);
  border-top-color: var(--input-loading-spinner-top);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading .loadingBox {
  display: flex;
  opacity: 1;
  width: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@starting-style {
  .loadingBox, .loading .loadingBox {
    opacity: 0;
    width: 100%;
  }
}

.simple .inputBox {
  background: transparent;
  color: var(--input-button-disabled-color);
  font-weight: bolder;
  padding-block: 0;
}

.simple .inputBox[type="button"]:hover, .simple .inputBox[type="submit"]:hover, .simple .inputBox[type="cancel"]:hover {
  color: var(--input-button-hover);
  background: var(--input-button-disabled-color);
}

.simple .inputBox[type="button"]:active, .simple .inputBox[type="submit"]:active, .simple .inputBox[type="cancel"]:active {
  color: var(--input-button-active);
  background: var(--input-button-disabled-color);
}

.simple .inputBox[type="button"]:disabled, .simple .inputBox[type="submit"]:disabled, .simple .inputBox[type="cancel"]:disabled {
  color: var(--input-button-disabled);
  background: var(--input-button-disabled-color);
  cursor: not-allowed;
}
